.fullscreen-canvas {
    width: 100%;
    height: 100%;
}

.text-container {
    flex-direction: row;
    width: auto;
    justify-content: center;
    padding: 10%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 32px;
    color: rgba(255, 255, 255, 255);
    align-items: center;
    -unity-text-align: upper-center;
}
